{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <!-- CSSと結びつける -->
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <title>ブログチュートリアル</title>
</head>
<body>
  <nav class="navber navber-expand-lg navber-dark bg-dark">
    <div class="container">
      <a class="navber-brand" href="/">ブログ</a>
      <ul class="navber-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="/">ホーム</a>
        </li>
        <!-- ユーザーがログイン状態か判定する -->
        {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="">投稿</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="">ログアウト</a>
          </li>
          <!-- ログアウト状態の為、elseになる？ -->
        {% else %}
          <li class="nav-item">
            <a class="nav-link" href="">サインアップ</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="">ログイン</a>
          </li>
        {% endif %}
      </ul>
    </div>
  </nav>

  <main>
    <div class="container">
      {% block content %}
      {% endblock %}
    </div>
  </main>

  <footer class="py-2 bg-dark">
    <p class="m-0 text-center text-white">Copyright &copy; Django Startup 2020</p>
  </footer>

  {% block extra_js %}
</body>
</html>